@import url('https://fonts.googleapis.com/css?family=Arvo|Rubik:400,400i,700');
/* imports external font library */

* {
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #343a40;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary {
  color: white;
}

.fas {
  color: black;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #343a40 solid;
  margin: 1rem;
}

.rating span {
  color: #0d6efd;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid white;
  color: white;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #0d6efd;
  color: #0d6efd;
}

.text-center {
  margin: 1rem;
  color: white;
}

.nav-link {
  color: white;
}

#title {
  font-size: 1.5rem;
}

h1 {
  color: white;
}

.prominent-label {
  color: white;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden; /* this makes sure the inner table contents don't spill out of rounded corners */
}

.product-name {
  color: black;
}

.product-info {
  border-radius: 10px;
}

.img-large {
  border-radius: 10px;
}
